<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- Enable stdout logging; write to a .log file in a 'logs' folder (create this folder and ensure IIS can write to it) -->
      <aspNetCore processPath="dotnet" arguments=".\MSUMALog.Server.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log" hostingModel="inprocess" />
      <rewrite>
        <rules>
          <rule name="Redirect to HTTPS" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 708CE314-E2CB-418E-ADCB-27447EC028DC-->